body {
  font-family: "Lato", sans-serif;
  color: #1d0e04;
  font-size: 15px;
  margin: 0;
  background: #4b2920 repeat center fixed;
  Background-image: url("https://117.zone/world/assets/MOTH_dot.png"), linear-gradient(0deg, rgb(78, 43, 33) 0%, rgba(65,28,18,1) 20%, rgba(65,28,18,1) 100%);
  background-size: 10px;
}

/*box styles*/
.box,
.sbox {
padding: 8px;
  background-color: #e0b8c8b4;
  border: 1px solid #000000;

}



/*------------------------------------ link and other styling --------------------------------------*/
 a:link {

  color: #7e3a36;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

 a:hover {
  color: white;
  text-shadow: 0 0 1px white;
}

 a:visited {
  color: white;
  text-shadow: 0 0 1px white;
}

strong {
  color: #205857;
}
/*------------------------------------ img --------------------------------------*/
main img {
  border: dashed 2px #292238;
}
/*------------------------------------ list --------------------------------------*/
ul {
  list-style-image: url('https://117.zone/world/assets/MOTH_arrow_ul.png');
}
/*------------------------------------ headers --------------------------------------*/



h2,
h3 {

  text-align: left;
  font-family: "Interwoven", sans-serif;
  color: #69b4b2;
  margin: -8px -8px  8px;
  padding: 0px 30px;
  background: #4e2b21 no-repeat;
  border-bottom: dashed 2px #97613d;
  text-shadow: #292238 2px 2px 0px;
  background-image: url(https://117.zone/world/assets/MOTH_arrow_header.png);
  
}


h1 {
  color: #ff7f78;
  text-align: center;
  font-family: "Notably Absent", sans-serif;
  border-bottom: dashed 2px #292238;
  margin: -8px;
  font-size: 45px;
  text-shadow: #292238 4px 4px 0px;
  background: #4e2b21;

}

hr {
  height: 30px;
  margin: -8px -8px  8px;
  background: #4e2b21 no-repeat;
  border-bottom: dashed 2px #97613d;
  text-shadow: #292238 2px 2px 0px;
  background-image: url(https://117.zone/world/assets/MOTH_arrow_header.png);
}