@font-face {
    font-family: 'verdana';
    src: url('https://fonts.googleapis.com/css?family=verdana');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Saira Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
}

@import url('https://117.zone/assets/carbon%20bl.otf');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Carbon bl;
    src: url(https://117.zone/assets/fonts/carbon%20bl.otf);
}



@font-face {
    font-family: Metro DF;
    src: url(https://minimal-love.art/assets/METRO-DF.TTF);
}


/*------------------------main stuff-----------------------*/
body {
    background: rgb(8, 7, 34);

    font-size: 15px;
    color: #a7d4cf;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}


#container {
    margin: 30px auto 0px;
    height: 900px;
    width: 1400px;
    background: url(https://117.zone/world/assets/IMG_smoothcube.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }


main {

    height: 700px;
    overflow-y: hidden;
    padding: 5px;
    width: 75%;
    height: 75%;
    overflow: hidden;
    border-radius: 25%;
    background: #03011b;
    display: flex;
    justify-content: center;
    align-items: center;
}


#content {
    width: 100%;
    height: 90%;
    margin: 90px;
    
    overflow-y: scroll;
    
}

.chara {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pfp {
width: 200px;
height: 200px;
margin: 15px;
border-radius: 25%;
border: solid 4px #50bfad;
box-shadow: 0px 0px 7px 7px #5cd0b942;
overflow: hidden;
flex-basis: 1;
}

.desc {
  color: #03011b;
  text-align:center;
  font-size: 16px;
    width: 500px;
    margin: 15px;
    padding: 15px;
    border-radius: 5% 40% ;
    border: solid 4px #50bfad;
    background: linear-gradient(0deg, rgba(12,91,102,1) 0%, rgba(92,208,185,1) 52%, rgba(145,238,198,1) 55%, rgba(100,214,187,1) 71%, rgba(19,130,168,1) 96%, rgba(151,249,183,1) 99%); 
    box-shadow: 0px 0px 15px 15px #5cd0b942;
    flex-basis: 1;
    
}
  .desc a:link {
    color: #03011b;
    text-decoration: none;}
.desc a:visited {
    color: #03011b;
    text-decoration: none;}
    
    
h1,
h2,
h3 {
    font-family: "Metro DF", sans-serif;
    font-weight: bold;
    color: rgba(92,208,185,1);
    margin: 10px 0px 10px;
    padding: 5px;
    text-align: center;
}

h1 {
    font-family: "Metro DF", sans-serif;
    padding: 10px;
    margin: 18px 5% 15px;
    border: 2px none #7EDEDF;
    color: #03011b;
     font-size: 30px;
     box-shadow: 0px 0px 15px 15px #5cd0b942;
     border-radius: 40% 5%;
     background: rgb(12,91,102);
     background: linear-gradient(0deg, rgba(12,91,102,1) 0%, rgba(92,208,185,1) 52%, rgba(145,238,198,1) 55%, rgba(100,214,187,1) 71%, rgba(19,130,168,1) 96%, rgba(151,249,183,1) 99%); 
  }
  h3 {color: #03011b;}
  

/*images that need the animation*/
  
.grow {
    transition: all 0.4s ease-in-out;
  
    background: none;
  }
  
  .grow:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
/*-----------------------------mobile screens--------------------------------------------------------*/
@media(max-width:685px) {

    #container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800px;
    }

    main {
        width: 80%;
        height: 80%;
        border-radius: 25%;
    }

    #content {
        width: 100%;
        height: 90%;
        margin: 10px; }
.chara {
    justify-content: center;
    align-items: center;
}

}