body {
  background-color: #011627;
  background: repeat bottom url('https://117.zone/assets/BG/city_tiling.png');
  background-attachment: fixed;
  color: #7F889E;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #222533;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }
  
  *::-webkit-scrollbar-track {
    background: #222533;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
  }

  
/* ---------------------------------------------containers-------------------------------------------------------------- */
 
  .box, .aside, .half,.fit {
      font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #d6dedf;
    background: #181d29;
    border: 20px solid transparent;
  border-image: url(https://117.zone/assets/window%20border%20test.png) 17 stretch; 
    
  } 
  
/*----------------------------------------------------------------link styling---------------------------------------------------------------------------------*/


 a:visited {
    color: #ffffff;
  
    
  }
  
   a:hover {
    color: #2EC4B6;
    text-shadow: 1px 1px #000;
    animation: none;
  
  }
  
   a:link {
    text-decoration: none;
     color: #ffffff;
   
     font-size: 14px;
     font-family: 'Bebas Neue', sans-serif;
     text-shadow: #720324 1px 1px 0px;
     
   }
  
   h1,
   h2,
   h3 {
     font-family: 'Carbon bl', sans-serif;
      font-weight: bold;
     color: #ffffff;
     margin: 10px 0px 10px;
     text-shadow: #0066ff 1px 1px 0px, #ff3d4d -1px -1px 0px;
     padding: 5px;
   }
   h3 {
    border-bottom: 4px double #ffffff;
  
   }
   h1, h2{
    text-align: left;
     background: url('https://117.zone/assets/wintop.png') no-repeat, url('https://117.zone/assets/wintop_.png') no-repeat;
     background-size: auto, cover;
     background-position: right 10px top 5px, center;
     
   }
   h1 {
      
      font-size: 30px;
         margin: -23px -22px 10px;
         background: url('https://117.zone/assets/wintop.png') no-repeat, url('https://117.zone/assets/wintop_.png') no-repeat;
         background-size: auto, cover;
         background-position: right 10px top 5px, center;
   }
  
  h2 {
  
    font-size: 20px;
    margin: -23px -21px 10px;
    
  }
  
  /*---------------------------------------------------------------assorted other stuff--------------------------------------------------------------------------------*/
  /*updates, status cafe*/
  #statuscafe {
    padding: .5em;
    background: #181D2A85;
    border: 1px dashed #D0D3E1;
    margin: 1em 1em 1em 1em;
    
  }
  
  #statuscafe-username {
    margin-bottom: .5em;
  }
  
  #statuscafe-content {
    margin: 1em 1em 1em 1em;
  }
  
  /*images that need the animation*/
  
  .grow {
    transition: all 0.4s ease-in-out;
  
    background: none;
  }
  
  .grow:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .speen {
    transition: all 2s ease-in-out;
  }
  
  .speen:hover {
    transform: rotate(360deg);
  }
  
  .imagenav {
  
    height: 160px;
    text-align: center;
  }
  
  /*holiday!!!!!!*/
  
  .xmaslights {
  
    margin: 0 auto;
    border-top: 22px solid;
    border-image: url(/assets/holiday/christmas_dfgfgd.gif) 30 round;
  
  }
  
  .crimmylights {
    width: 100%;
    margin: 0 auto;
    border-top: 22px solid;
    border-image: url(/assets/holiday/christmas_blinkinglights.gif) 30 round;
  
  }
  
  
  
  
  main ul {
    margin: 5px 60px;
  
  }
  
  main li {
   background:#00000020;
    list-style-type: square;
    
    margin-bottom: 6px;
    margin: 5px 0px 5px 10px;
    padding: 10px;
  }
  
  li a:link {
    font-size: 20px;
    }
  
  