<!DOCTYPE html>
<html>
<html lang="en">

<head>

   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HOME</title>
    <link href="/MAIN_STYLE.css" rel="stylesheet" type="text/css" media="all">
    <link href="/bases/MAIN_BONES.css" rel="stylesheet" type="text/css" media="all">
    <link href="/bases/fonts.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" type="image/x-icon" href="assets/117.ico">
</head>

<body>
    <!-----------------------------------------------------cntainer----------------------------------------------------->
    <div id="container">


        <div id="flex">


            <main>
                <div class="box">
