
/*------------------------main stuff-----------------------*/

body {

  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #e7dfd3;
  margin: 0;

}


#container {
  margin: 50px auto 20px;
  width: 900px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  gap: 10px 0px;
  grid-template-areas:
    "navigation"
    "main";
}



main {

  overflow-y: hidden;
  padding: 10px;
  text-align: left;
  background-color: #1411249c;
  border: 7px solid transparent;
  border-image: url('/assets/BG/border1.png') 6 round;
}

nav {
  height: 60px;
  text-align: center;
  border: 8px solid transparent;
  border-image: url('/assets/BG/border1.png') 7 round;
   background: url(/assets/BG/navbg.png);
   background-position: center;
   background-size: contain;
   padding-top: 10px;
}

/*------------------------------------ link and other styling --------------------------------------*/
nav a:link {

  font-size: 23px;
  font-family: 'Fullmoon', serif;
  text-shadow: #35134b 1px 1px 0px, #ffe0d6 -1px -1px 0px;
 
}

nav a:hover {

   color: #e9b367;


}
a:visited {
  color: #8f7b68;


}

a:hover {
  color: #cddf66;
  text-shadow: 1px 1px #000;
  animation: none;

}

a:link {
  text-decoration: none;
  color: #8f7b68;

  font-size: 15px;
  font-family: 'DejaVu', serif;
  text-shadow: #35134b 1px 1px 0px, #ffe0d6 -1px -1px 0px;

}

h1,
h2,
h3 {
text-align: center;
  font-weight: bold;
  color: #b36c4d;
  margin: 10px 0px 10px;
  text-shadow: #01031ac2 1px 1px 0px, #ffde72 -1px -1px 0px;
  padding: 5px;
  background: url(/assets/BG/marb.png);
  text-transform: uppercase;
}
h1 {
 font-family: 'Fullmoon', serif;
  font-size: 30px;
  margin: 5px -9px 5px;
}
h2 {
  font-size: 20px;
  margin: 5px -9px 5px;
}
h1,
h2 {
  border: 9px solid transparent;
  border-image: url('/assets/BG/border1.png') 6 round;
}
h2,
h3 {
 font-family: 'DejaVu', serif;
  
}


hr {
  height: 30px;
  margin: -8px -8px 8px;
  background: #4e2b21;
  border: solid 1px #000000;
  text-shadow: #100c1a 2px 2px 0px;
  background-image: url(https://117.zone/world/assets/LEO_bg3.png);
}



