

body {
  font-family: "Lato", sans-serif;
  color: #bcc8c9;
  font-size: 15px;
  margin: 0;
  background: #1b1d20;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  Background-image: url("/assets/BG/canvas.png");
  
}

/*box styles*/
.box,
.sbox {
padding: 8px;
  background-color: #1b1d20;
  border: 5px groove #b66e4e;
box-shadow: #0a071891 4px 4px;
margin: 11px !important;
}



/*------------------------------------ link and other styling --------------------------------------*/
 a:link {

  color: #862632;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

 a:hover {
  color: white;
  text-shadow: 0 0 1px white;
}

 a:visited {
  color: #862632;
  text-shadow: 0 0 1px white;
}

strong {
  color: #ffffff;
   text-shadow: #292238 2px 2px 0px;
 letter-spacing: 3px;
  text-transform: uppercase;
  font-size: smaller;
}
/*------------------------------------ img --------------------------------------*/

/*------------------------------------ list --------------------------------------*/
ul {
  list-style-image: url('https://117.zone/world/assets/LEO_bullet.gif');
}
/*------------------------------------ headers --------------------------------------*/



h2,
h3 {

  text-align: center;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  margin: 10px -8px  10px;
  padding: 0px 30px;
  background: #000000;

  text-shadow: #292238 2px 2px 0px;
 letter-spacing: 3px;
  text-transform: uppercase;
  font-size: smaller;
}


h1 {
  color: #862632;
  text-align: center;
  font-family: "MeltingWhip", sans-serif;
 
  margin: 10px;
  font-size: 45px;
  text-shadow: #141218 4px 2px 0px, #ffffff 4px 4px 0px;
  

}

hr {
  height: 30px;
  margin: 10px -8px  10px;
  background: #4e2b21 ;
  border: solid 1px #000000;
  text-shadow: #100c1a 2px 2px 0px;
  background-image: url(https://117.zone/world/assets/LEO_bg3.png);
}