body {
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  margin: 0;
  height: 100%;
color: antiquewhite;
  }

      body{
        background-color: #112703;
      background-image: url(/assets/BG/bg_left.png), url(/assets/BG/bg_right.png), url(/assets/BG/anna-gru-omL9Q8B2YCI-unsplash.png);
  background-attachment: fixed, fixed, fixed;
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
  background-position: left, right, center;
}


/*box styles*/
.box,
.sbox {
padding: 8px;
  background-color: #1b1d20;
  border: 5px groove #b66e4e;
box-shadow: #0a071891 4px 4px;
margin: 11px !important;
}



/*------------------------------------ link and other styling --------------------------------------*/
 a:link {

  color: #95e9dc;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

 a:hover {
  color: white;
  text-shadow: 0 0 1px white;
}

 a:visited {
  color: #5fc2b3;
  text-shadow: 0 0 1px white;
}

strong {
  color: #a51646;
}
/*------------------------------------ img --------------------------------------*/
.outline{
  border: groove 5px #b36c4d;
}
/*------------------------------------ list --------------------------------------*/
ul {
  list-style-image: url('/world/assets/VAL_bullet.gif');
}
/*------------------------------------ headers --------------------------------------*/



h1,
h2,
h3 {
text-align: center;
  font-weight: bold;
  color: #b36c4d;
  margin: 10px 0px 10px;
  text-shadow: #01031ac2 1px 1px 0px, #ffde72 -1px -1px 0px;
  padding: 5px;
  background: url(/assets/BG/marb.png);
  text-transform: uppercase;
}
h1 {
 font-family: 'Fullmoon', serif;
  font-size: 30px;
  margin: 5px -9px 5px;
}
h2 {
  font-size: 20px;
  margin: 5px -9px 5px;
}
h1,
h2 {
  border: 9px solid transparent;
  border-image: url('/assets/BG/border1.png') 6 round;
}
h2,
h3 {
 font-family: 'DejaVu', serif;
  
}
