@font-face {
    font-family: 'verdana';
    src: url('https://fonts.googleapis.com/css?family=verdana');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Saira Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
}

@import url('https://117.zone/assets/carbon%20bl.otf');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: Carbon bl;
  src: url(https://117.zone/assets/fonts/carbon%20bl.otf);
}



@font-face {
  font-family: Metro DF;
  src: url(https://minimal-love.art/assets/METRO-DF.TTF);
}


/*-----------------------------gallery--------------------------------------------------------*/

 .wiggle {
      width: 245px;
      height: 245px;

      margin: 10px;


    }

    .wiggle a:link {
      color: #fff;
      text-decoration: none;
      font-size: 17px;
    }


    .ezgallery.montage img:hover {

      animation: grow 1300ms;

      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

    }

    .wiggle:hover,.bwuh:hover {

      animation: wiggle 1500ms;

      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

    }

    @keyframes grow {
      0% {
        transform: scale(1.00);
      }

      25% {
        transform: scale(1.2);
      }

      50% {
        transform: scale(1.00);
      }

      75% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1.00);

      }
    }

    @keyframes wiggle {
      0% {
        transform: rotate(-10deg);
      }

      50% {
        transform: rotate(10deg);
      }

      100% {
        transform: rotate(-10deg);
      }
    }

    /***
EZ Gallery by netfriend - https://netfriend.neocities.org/ez-gallery/
Released under the Unlicense - https://unlicense.org/
***/
    .photoviewer-stage {

      background-color: #14141c !important;

    }

    .ezgallery.montage {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .ezgallery.montage img {
    width: 245px;
      height: 245px;
      flex: auto;
      margin: 0 5px 5px 0;
      object-fit: cover;
      object-position: bottom;
    }

    .ezgallery.horizontal {
      display: grid;
      grid-gap: 5px;
      gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-auto-rows: minmax(100px, auto);
    }

    .ezgallery.horizontal a {
      text-align: center;
    }

    .ezgallery.horizontal img {
      text-align: center;
      vertical-align: middle;
      margin: 0 5px 5px 0;
      max-width: 100px;
      max-height: 100px;
      object-fit: contain;
      object-position: left;
    }

/*-----------------------------mobile screens--------------------------------------------------------*/
@media(max-width:685px) {

    #container {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
    }






}