@import url('/assets/carbon%20bl.otf');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: BadBoy;
  src: url(/assets/fonts/Y1BadBoySlab.otf);
}

@font-face {
  font-family: Glyphont;
  src: url(/assets/fonts/Y1Glyphont.otf);
}

@font-face {
  font-family: MeltingWhip;
  src: url(/assets/fonts/Y1MeltingWhip.otf);
}

@font-face {
  font-family: MezzoAngel;
  src: url(/assets/fonts/Y1MezzoAngel-Corgi.otf);
}

@font-face {
  font-family: SpiderBiome;
  src: url(/assets/fonts/Y1SpiderBiome.otf);
}


@font-face {
  font-family: LoveSquare;
  src: url(/assets/fonts/Y1LoveSquare.otf);
}






@font-face {
  font-family: DejaVu;
  src: url(/assets/fonts/DejaVuSerif-Bold-webfont.woff);
}

@font-face {
  font-family: Fullmoon;
  src: url(/assets/fonts/Y1FullmoonMarch.otf);
}

@font-face {
  font-family: Interwoven;
  src: url(/assets/fonts/Interwoven.ttf);
}


@font-face {
  font-family: Mister Firley;
  src: url(/assets/fonts/MisterFirley.otf);
}



@font-face {
  font-family: Lato;
  src: url(/assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Geo;
  src: url(/assets/fonts/Geo-Regular.ttf);
}



@font-face {
  font-family: Notably Absent;
  src: url(/assets/fonts/NotablyAbsent.ttf);
}




@font-face {
  font-family: Carbon bl;
  src: url(/assets/fonts/carbon%20bl.otf);
}

@font-face {
  font-family: Metro DF;
  src: url(https://minimal-love.art/assets/METRO-DF.TTF);
}

@font-face {
  font-family: Another Typewriter;
  src: url(/assets/fonts/atwriter.ttf);
}

@font-face {
  font-family: KGLegoHouse;
  src: url(/assets/fonts/KGLegoHouse.ttf);
}

@font-face {
  font-family: Powerpuff;
  src: url(/assets/fonts/Powerpuff.ttf);
}

@font-face {
  font-family: Classica;
  src: url(/assets/fonts/Classica-Bold.ttf);
}

@font-face {
  font-family: Classica-Book;
  src: url(/assets/fonts/Classica-Book.ttf);
}

@font-face {
  font-family: Karina;
  src: url(/assets/fonts/Karina.ttf);
}