@import url('https://117.zone/assets/carbon%20bl.otf');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: Fullmoon;
  src: url(https://117.zone/assets/fonts/Y1FullmoonMarch.otf);
}
@font-face {
  font-family: Interwoven;
  src: url(https://117.zone/assets/fonts/Interwoven.ttf);
}


@font-face {
  font-family: Mister Firley;
  src: url(https://117.zone/assets/fonts/MisterFirley.otf);
}



@font-face {
  font-family: Lato;
  src: url(https://117.zone/assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Geo;
  src: url(https://117.zone/assets/fonts/Geo-Regular.ttf);
}



@font-face {
  font-family: Notably Absent;
  src: url(https://117.zone/assets/fonts/NotablyAbsent.ttf);
}




@font-face {
  font-family: Carbon bl;
  src: url(https://117.zone/assets/fonts/carbon%20bl.otf);
}

@font-face {
  font-family: Metro DF;
  src: url(https://minimal-love.art/assets/METRO-DF.TTF);
}

@font-face {
  font-family: Another Typewriter;
  src: url(https://117.zone/assets/fonts/atwriter.ttf);
}

@font-face {
  font-family: KGLegoHouse;
  src: url(https://117.zone/assets/fonts/KGLegoHouse.ttf);
}

@font-face {
  font-family: Powerpuff;
  src: url(https://117.zone/assets/fonts/Powerpuff.ttf);
}

