body {
    background-image: url(https://117.zone/assets/BG/77.png);
    background-size: 100px;
}

iframe{
    height: 100%;
    width: 100%;}
nav {
    padding:5px;
    
}

nav a {

    color: #ffffff;
    text-shadow: -1px -1px 0px #000080;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Unica One', sans-serif;
    background: none;

}

a:hover {
  color: #000080;
  text-shadow: 2px 2px 0px #ffffff;
}
  
nav li {
    list-style: none;
    font-size: 20px;
    margin: 5px -20px 5px;
    border-bottom: #000080 solid 1px;
    background-color: #000;
    text-align: left;
}

main {
    background: #9b9b9b;
    border: double 5px #fff;
    outline: 1px #000;
    box-shadow: 0px 0px 5px #fff;
}

h1,
h2,
h3 {
    font-family: 'Unica One', sans-serif;
    font-weight: bold;
    color: #fff;
    margin: 10px 0px 10px;
    padding: 1px;
    
    border: double 5px #000;
    background: #000080;
    text-align: center;
}