@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




body{
  font-family: Calibri, Arial, sans-serif;
  font-size: 14px;
  color: #cccccc;
  background: none;
}
/*-----------------links/text styling-------------------*/
a{
    color: #fefeff;
    letter-spacing: 0.5px;
    transition: all ease-in-out 0.5s;
    text-decoration: underline #fb0189;
}
a:hover{
    letter-spacing: 2px;
 
}
a:visited{
    color: #fefeff;
}
strong{

   color: #dfc83e ;
}
/*-------------------------headers------------------*/
h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #cccccc;
    line-height: initial;
    letter-spacing: 0.5px;
    font-size: 27px;
	border-bottom: 1px dotted #cccccc;
    text-shadow: 1px 0px #b5c1f5, -1px -1px #0019ef, 0px 0px 10px #000
}
